<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/userbase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title th:text="title">Insert title here</title>
</head>
<body>
	<section class="contactcard1">
		<div class="container">
			<div class="card">
			<div class="container mt-1">
				<div th:classappend="${session.message.type}" class="alert text-center" th:if ="${session.message}" role="alert">
  					<span th:text="${session.message.content}"></span>
						</div>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				</div>
				<div class="card-body my-5">
					
					<div class="container text-center">
						<img src="" style="height: 200px; width: 200px"
							class="my_contact_picture" th:src="@{'/img/contact_logo.png'}"
							alt="profile photo" />
					</div>

					<h1
						class="text-center mt-3 text-secondary font-italic font-weight-light">
						Start Adding your contact on cloud...</h1>
					<div class="text-center">
					<a th:href="@{/user/addcontact}"
						class="btn btn-primary mt-4 btn-block text-uppercase text-center">Add
						New Contact</a>
						</div>
				</div>
			</div>
		</div>
		<script>
        $(document).ready(() => {
          $(".item").removeClass("active");
          $("#home-link").addClass("active");
        });
      </script>
	</section>
</body>
</html>