<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>
</head>
<body>

	<section>
		
		<div class="mycard text-center">
			<h2>Forgot Password Form</h2>
		</div>
		<div class="alert alert-danger text-center" th:if="${session.message}"
			role="alert">
			<span th:text="${session.message}"></span>
			<th:block th:text="${#session.removeAttribute('message')}"></th:block>
		</div>
		<div class="row col-md-4 offset-md-4 mycard margin">
			<h3 class=" text-center">Your Registered Email</h3>
			<form th:action="@{/send-otp}" method="post">
				<div class="form-group mt-2">
					<input required name="email" type="email" placeholder="Enter email here" class="form-control" />
					<div class="container text-center mt-2">
						<button class="btn btn-warning">Send OTP</button>
						
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>